.container {
  width: 100%;
}

.mainForm {
  display: flex;
  width: 50%;
  margin: auto;  
  margin-bottom: 20px;
}

.lives {
  margin-left: 40px;
}

.mainInput {
  width: calc(100% - 40px);
}

.mainInput:invalid {
  box-shadow: 0 0 5px 1px red;
}

.map {
  width: 100%;
  height: 85vh
}

.result {
  display: flex;
  justify-content: space-around;
}

.result-list {
  height: 10vh;
  overflow-y: scroll;
}

.new-game-button{
  height: 25px;
  margin-top: 5vh;
}

.heart:before {
  content: '\01F4A1';
  font-size: 25px;
  color: yellow;
}

.heart.lost:before {
  content: '\01F494';
  color: black;
}
