.container {
  width: 100%;
}

.interface {
  display: flex;
  flex-direction: column;
  margin: auto;  
  margin-bottom: 20px;
}
.display-none {
  display: none;
}

.main-form {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  font-size: 25px;
}

.controls {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

.form-container{
  display: flex;
  position: relative;
}

button{
  border: 1px solid black;
  background: white;
  cursor: pointer;
  font-size: 25px;
}

.main-form .fas{
  padding: 5px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.main-form .fas.taped{
  color: red;
}

.hints {
  position: relative;
  padding-right: 110px;
}

.hint-button {
  height: 100%;
}


.main-input {
  width: 100%;
  font-size: 30px;
  border: none;
  outline: none;
}

.main-input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.map {
  width: 100%;
  height: calc(100vh - 130px)
}

.result {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 25px;
}

.result-list {
  height: 10vh;
  overflow-y: scroll;
}

.hint {
  font-size: 35px;
  position: absolute;
}

.hint:nth-child(2) {
  right: 60px;
}
.hint:nth-child(3) {
  right: 30px;
}
.hint:nth-child(4) {
  right: 0px;
}

.hint.taken:before {
  content: '';
}
